In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

import subprocess

In [30]:
temp = subprocess.getoutput("ls -lah keys/80_1024*/b*")

In [39]:
def splitter(test):
    tmp = test.split()
    tst = [tmp[4]]
    tst += tmp[8].split("/")[1].split("_")
    return tst

# splitter(test)

df = pd.DataFrame(
    [splitter(line) for line in temp.split("\n")], columns=["disk","bs","poly","dim","base_log","level"])
df["disk"] = df["disk"].apply(lambda x: int(x[:-1]))

df.head()

   disk  bs  poly dim base_log level
0   193  80  1024   1        3     3
1   257  80  1024   1        3     4
2   321  80  1024   1        3     5
3   385  80  1024   1        3     6
4   449  80  1024   1        3     7

In [40]:
df.pivot_table(values="disk", index="level", columns="base_log")

base_log    3    4    5    6
level
3         193  193  193  193
4         257  257  257  257
5         321  321  321  321
6         385  385  385  385
7         449  449  449  449
8         513  513  513  513
9         577  577  577  577

In [54]:
temp = !cat boot_stats.txt

for base_log in range(3,7):
    for level in range(3,10):
        test = "keys/80_1024_1_%d_%d"%(base_log,level)
        print("**********************\n%s\n**********************\n"%test)
        if test not in [line.split()[0] for line in temp]:
            !target/debug/test_boot $base_log $level 
            print("*"*80, "\n\n")

**********************
keys/80_1024_1_3_4
**********************

**********************
keys/80_1024_1_4_4
**********************

**********************
keys/80_1024_1_5_4
**********************

**********************
keys/80_1024_1_6_4
**********************

In [83]:
def splitter2(test):
    tmp = test.split()
    return tmp[0].split("/")[1].split("_") + [0 if tmp[1] == "NA" else int(tmp[1])]

temp = !cat boot_stats.txt

[splitter2(line) for line in temp]
df = pd.DataFrame(
    [splitter2(line) for line in temp], columns=["bs","poly","dim","base_log","level","free"])

df.head()

   bs  poly dim base_log level  free
0  80  1024   1        3     3     0
1  80  1024   1        4     3     0
2  80  1024   1        5     3     5
3  80  1024   1        6     3     8
4  80  1024   1        3     4     0

In [82]:
df.pivot_table(values="free", index="level", columns="base_log")

base_log  3  4   5   6
level
3         0  0   5   8
4         0  6  10  14